<?xml version="1.0"?>

<config>
    <modules>
        <Cstm_WidgetProduct>
            <version>1.0.0</version>
        </Cstm_WidgetProduct>
    </modules>
    <global>
        <helpers>
            <widgetproduct>
                <class>Cstm_widgetProduct_Helper</class>
            </widgetproduct>
        </helpers>
        <blocks>
            <widgetproduct>
                <class>Cstm_widgetProduct_Block</class>
            </widgetproduct>
        </blocks>
    
    </global>
</config>
